{% extends "layout.html.twig" %}

{% block title %}Lana-Beauty-Réservez votre manucure rendez-vous en ligne.{% endblock %}
{% block description %}Réservez votre manucure rendez-vous en ligne.{% endblock %}

{% block body %}

    {#<div class="image"></div>#}

<!-- Landing Area -->
    {#<main>#}

<body>
{#<main>#}
    <!-- Landing Area -->
{% for saloon in saloons %}

    <div id="landing">
        <div id="landing-text">
            <div id="landing-text-inner">
                <h1>LANA BEAUTY</h1>
                <h2>Beautiful natural Nails</h2>
                <a href="{{ path('saloon_public', {'saloon': saloon.slug}) }}" class="btn" id="view-work">
                    Réserver un soin
                </a>
            </div>
        </div>
        <div id="landing-image"></div>
        {% endfor %}

    </div>
    {#</main>#}
</body>
    {#<div class="row">#}
        {#{% for saloon in saloons %}#}
            {#<div class="col-sm-12 col-md-4">#}
                {#<div class="card my-3">#}
                    {#<div class="card-body">#}
                        {#<h5 class="card-title">{{ saloon.name }}</h5>#}
                        {#<p class="card-text">{{ saloon.location }}</p>#}
                        {#<a href="{{ path('saloon_public', {'saloon': saloon.slug}) }}" class="btn btn-primary">Réserver ma Manicure</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div><br><br>#}

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=places"></script>
    <script src="{{ asset('build/location.js') }}"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://www.jqueryscript.net/demo/jQuery-Plugin-For-Water-Ripple-Animation-ripples/js/jquery.ripples.js">
    </script>
    <script>
        $(document).ready(function() {
            $('.image').ripples('show');
        });
    </script>
{% endblock %}
