<div class="col-lg-2 col-md-12 col-sm-12">
    <h6 class="dropdown-header">{{ saloon.name }}</h6>

    <div class="row">
        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 1 %} active{% endif %}" href="{{ path('saloon_manage', {'saloon': saloon.id}) }}">Tableau de bord</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 2 %} active{% endif %}" href="{{ path('saloon_manage_slot', {'saloon': saloon.id}) }}">Rendez-vous</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 4 %} active{% endif %}" href="{{ path('saloon_manage_price', {'saloon': saloon.id}) }}">Tarifs</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 5 %} active{% endif %}" href="{{ path('saloon_manage_schedule', {'saloon': saloon.id}) }}">Horaires</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 6 %} active{% endif %}" href="{{ path('saloon_manage_pause', {'saloon': saloon.id}) }}">Pauses</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 8 %} active{% endif %}" href="{{ path('saloon_manage_vacation_edit', {'saloon': saloon.id}) }}">Fermeture</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 7 %} active{% endif %}" href="{{ path('saloon_manage_worker', {'saloon': saloon.id}) }}">Employés</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 10 %} active{% endif %}" href="{{ path('saloon_manage_customer', {'saloon': saloon.id}) }}">Mes clients</a>

        <a class="col-lg-12 col-md-3 col-sm-6 col-6 dropdown-item{% if page_id == 9 %} active{% endif %}" href="{{ path('saloon_edit', {'saloon': saloon.id}) }}">Salon</a>
    </div>
</div>