{% extends "layout.html.twig" %}

{% block title %}{{ saloon.name }}{% endblock %}

{% block body %}
    {% set date = null %}

    <div data-online-payment="{{ saloon.onlinePayment }}" id="js-book" class="row my-4">
        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2 text-center">
            <div class="container-fluid">
                <div class="card-body p-4">
                    <p class='formText'>
                        Rendez-vous le <b>{{ slot.start|date('d/m/Y') }}</b> à <b>{{ slot.start|date('H:i') }}</b><br>
                        avec <b>{{ slot.worker.firstname|capitalize }} {{ slot.worker.lastname|capitalize }}</b><br>
                        à l'adresse <b>{{ slot.saloon.location }}</b>
                    </p>
                    <br>
                    {{ form_start(form, {'attr': {'id': 'payment-form'}}) }}
                    <div class='formContainer'>
                        <div class='groupLabel'>
                            <label>
                                <span>Titulaire de la carte</span>
                                {{ form_row(form.name) }}
                            </label>
                        </div>
                        <div class='groupLabel'>
                            <label>
                                <span>Numéro de téléphone</span>
                                {{ form_row(form.phoneNumber) }}
                            </label>
                        </div>
                        <div class='groupLabel'>
                            <label>
                                <span>Adresse email</span>
                                {{ form_row(form.email) }}
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="stripe">
                                <div id="card-element"></div>
                                <div id="card-errors" role="alert"></div>
                                <br>
                            </div>
                        </div>
                        <input type="submit" value="Confirmer" class="btn btn-dark" id="button_confirm"/>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    {# <script src="{{ asset('build/bookingForm.js') }}"></script> #}

    {#{% if saloon.onlinePayment %}#}
        <script>
            // Create a Stripe client.
            var stripe = Stripe('{{ pk_stripe }}');
            var elements = stripe.elements();
            console.log({elements})
            var style = {
            base: {
                color: '#32325d',
                // lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
            };

            var card = elements.create('card', {style: style, 'hidePostalCode': true});
            card.mount('#card-element');

            card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
            });

            // Handle form submission.
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                if (document.querySelector('button.payment_choose.btn-success').id == 'payment_active') {
                    document.getElementById('payment_active').classList.add('display')
                    stripe.createToken(card).then(function(result) {
                        if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                        } else {
                        stripeTokenHandler(result.token);
                        }
                    });
                } else {
                    form.submit();
                }
            });

            function stripeTokenHandler(token) {
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);
                form.submit();
            }
        </script>
    {#{% endif %}#}
{% endblock %}
