{% extends "layout.html.twig" %}

{% block title %}{{ price.saloon.name }}{% endblock %}

{% block body %}
    {% set date = null %}

    <div class="vertical-spacer"></div>
    {#<div class="container my-5">#}

        {#<section>#}
            {#<div class="card mb-4">#}

                {#<div class="row">#}

                    {#<div class="col-md">#}
                        {#{% if price.id == 1 %}#}
                            {#<img src="{{ asset('build/images/pinkp.jpg') }}" class="img-fluid"#}
                                 {#alt="Sample project image">#}
                        {#{% elseif price.id == 2 %}#}
                            {#<img src="{{ asset('build/images/pool1.jpg') }}" class="img-fluid"#}
                                 {#alt="Sample project image">#}
                        {#{% elseif price.id == 3 %}#}
                            {#<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"#}
                                 {#alt="Sample project image">#}
                        {#{% endif %}#}

                    {#</div>#}

                    {#<div class="col-md">#}
                        {#<h5 class="font-weight-normal mb-3"> {{ price.name }}</h5>#}
                        {#<ul class="list-unstyled font-small mt-5 mb-0">#}
                            {#<li>#}
                                {#<p class="text-uppercase mb-2"><strong>Durée :</strong></p>#}
                                {#<p class="text-muted mb-4">{{ price.duration }}min</p>#}
                            {#</li>#}

                            {#<li>#}
                                {#<p class="text-uppercase mb-2"><strong>Salon : </strong></p>#}
                                {#<p class="text-muted mb-4">{{ price.saloon.name }}</p>#}
                            {#</li>#}

                            {#<li>#}
                                {#<p class="text-uppercase mb-2"><strong>Prix :</strong></p>#}
                                {#<p class="text-muted mb-4">{{ price.amount }}€</p>#}
                            {#</li>#}

                            {#<li>#}
                                {#<p><strong>Adresse du salon</strong></p>#}
                                {#<p>{{ price.saloon.location }}</p>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
    {#</div>#}
{#<div class="container">#}
    {#<div class="row">#}
        {#<div class="col-xs-3">#}
    <div class="table-responsive">

    <table class="table">
            <thead>
            <tr>
                {% set today = "now" %}
                {% for j in 1..7 %}
                    {% if today|date('N') == 0 %}
                        {% set day = 'dim.' %}
                    {% elseif  today|date('N') == 1 %}
                        {% set day = 'lun.' %}
                    {% elseif  today|date('N') == 2 %}
                        {% set day = 'mar.' %}
                    {% elseif  today|date('N') == 3 %}
                        {% set day = 'mer.' %}
                    {% elseif  today|date('N') == 4 %}
                        {% set day = 'jeu.' %}
                    {% elseif  today|date('N') == 5 %}
                        {% set day = 'ven.' %}
                    {% elseif  today|date('N') == 6 %}
                        {% set day = 'sam.' %}
                    {% elseif  today|date('N') == 7 %}
                        {% set day = 'dim.' %}
                    {% endif %}
                    {% if today|date('m') == 1 %}
                        {% set month = 'Janvier' %}
                    {% elseif  today|date('m') == 2 %}
                        {% set month = 'Février' %}
                    {% elseif  today|date('m') == 3 %}
                        {% set month = 'Mars' %}
                    {% elseif  today|date('m') == 4 %}
                        {% set month = 'Avril' %}
                    {% elseif  today|date('m') == 5 %}
                        {% set month = 'Mai' %}
                    {% elseif  today|date('m') == 6 %}
                        {% set month = 'Juin' %}
                    {% elseif  today|date('m') == 7 %}
                        {% set month = 'Juillet' %}
                    {% elseif  today|date('m') == 8 %}
                        {% set month = 'Août' %}
                    {% elseif  today|date('m') == 9 %}
                        {% set month = 'Septembre' %}
                    {% elseif  today|date('m') == 10 %}
                        {% set month = 'Octobre' %}
                    {% elseif  today|date('m') == 11 %}
                        {% set month = 'Novembre' %}
                    {% elseif  today|date('m') == 12 %}
                        {% set month = 'Décembre' %}
                    {% endif %}
                    <th>
                        {{ day }} <br>
                        {{ today|date('d') }} {{ month }}
                    </th>
                    {% set today = today|date_modify("+1 day") %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for worker in price.saloon.workers %}
                    {% set d = "now" %}
                    {% for j in 0..6 %}
                        <td class="text-dark">
                            {{ render(controller(
                                'App\\Controller\\BookingController::getSlots',
                                {'price': price.id, 'timestamp': d|date('U'), 'worker' : worker, 'auto': false, 'test':j}
                            )) }}
                        </td>
                        {% set d = d|date_modify("+1 day") %}
                    {% endfor %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock %}

