    {% extends "layout.html.twig" %}

{% block title %}{{ price.saloon.name }}{% endblock %}

{% block body %}
    {% set date = null %}
    <div class="row my-4">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ price.saloon.name }}</h2>
            </div>
        </div>  

        <div class="col-12">
            <div class="jumbotron">
                {% for worker in price.saloon.workers %}
                    <div class="text-center">
                        <h2 class="hw mb30">{{ worker.firstname }}</h2>

                        {{ render(controller(
                            'App\\Controller\\BookingController::getSlots', 
                                {'price': price.id, 'worker': worker.id, 'timestamp': timestamp, 'auto': false}
                            ))
                        }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {# {{ render(controller('AppBundle:Booking:schedule', {'saloon': price.saloon.id})) }} #}

    </div>
{% endblock %}