{% extends "layout.html.twig" %}

{% block title %}{{ price.saloon.name }}{% endblock %}

{% block body %}
    {% set date = null %}

    {% if price.saloon.imageName is not empty %}
        <img class="img-center"
             src="{{ asset('images/saloons/' ~ price.saloon.imageName) | imagine_filter('saloon_page') }}"
             style="max-width: 500px;"/>
    {% endif %}
    <div class="text-center">
        <div class="col-12">
            <h1 class="salon-title">{{ price.saloon.name }}</h1>
            <span>{{ price.saloon.location }}</span><br><br>
            <span>1. Prestation sélectionnée</span><br>
            <h5 class="card-title my-1">{{ price.name }}</h5>
            <p class="card-text my-1">{{ price.duration }}min</p>
            <p class="card-text my-1">{{ price.amount }}€</p>
        </div>
        <div class="col-12">
            <span>2.Choix de la date et de l'heure</span>
            {% for worker in price.saloon.workers %}
                <div class="text-center">
                    {{ render(controller(
                        'App\\Controller\\BookingController::getSlots',
                        {'price': price.id, 'worker': worker.id, 'timestamp': timestamp, 'auto': false}
                    )) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}