{% extends "layout.html.twig" %}

{% block title %}
    {{ price.saloon.name }}
{% endblock %}

{% block body %}
    {% set date = null %}
    {% set form = 'saloon_public_booking_form' %}

    <div class="prestationSlotsContainer">
        <div class="prestationText">Prestation choisie</div>
        <div class="table table-light">
            <div class="selectedPrestation">
                <div class="prestationRow">
                    <div class="prestationName">{{ price.name }}</div>
                    <div class="css-1maandq text-right prestationDuration">
                        {{ price.duration }}min
                    </div>
                    <div class="align-top prestationAmount">{{ price.amount }}€</div>
                </div>
            </div>
        </div>

        <div class='chosenHourContainer chosenHourHidden'>
            <div class='prestationText'>Date et heure choisies</div>
            <div class='table table-light chosenHourRow'>
                <div class='chosenHour'></div>
                <div class='changeHour'>Modifier</div>
            </div>
        </div>
        <div class="prestationText prestationTextSlots">Date et heures disponibles</div>
        <table class="table slotsTable">
            <thead>
            <tr>
                {% set today = "now" %}
                {% for j in 1..7 %}
                    {% if today|date('N') == 0 %}
                        {% set day = 'dim.' %}
                    {% elseif  today|date('N') == 1 %}
                        {% set day = 'lun.' %}
                    {% elseif  today|date('N') == 2 %}
                        {% set day = 'mar.' %}
                    {% elseif  today|date('N') == 3 %}
                        {% set day = 'mer.' %}
                    {% elseif  today|date('N') == 4 %}
                        {% set day = 'jeu.' %}
                    {% elseif  today|date('N') == 5 %}
                        {% set day = 'ven.' %}
                    {% elseif  today|date('N') == 6 %}
                        {% set day = 'sam.' %}
                    {% elseif  today|date('N') == 7 %}
                        {% set day = 'dim.' %}
                    {% endif %}
                    {% if today|date('m') == 1 %}
                        {% set month = 'janv.' %}
                    {% elseif  today|date('m') == 2 %}
                        {% set month = 'févr.' %}
                    {% elseif  today|date('m') == 3 %}
                        {% set month = 'mars' %}
                    {% elseif  today|date('m') == 4 %}
                        {% set month = 'avril' %}
                    {% elseif  today|date('m') == 5 %}
                        {% set month = 'mai' %}
                    {% elseif  today|date('m') == 6 %}
                        {% set month = 'juin' %}
                    {% elseif  today|date('m') == 7 %}
                        {% set month = 'juil.' %}
                    {% elseif  today|date('m') == 8 %}
                        {% set month = 'août' %}
                    {% elseif  today|date('m') == 9 %}
                        {% set month = 'sept.' %}
                    {% elseif  today|date('m') == 10 %}
                        {% set month = 'octo.' %}
                    {% elseif  today|date('m') == 11 %}
                        {% set month = 'nove.' %}
                    {% elseif  today|date('m') == 12 %}
                        {% set month = 'décem.' %}
                    {% endif %}
                    <th>
                        {{ day }}
                        <br>
                        {{ today|date('d') }}
                        {{ month }}
                    </th>
                    {% set today = today|date_modify("+1 day") %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for worker in price.saloon.workers %}
                    {% set d = "now" %}
                    {% for j in 0..6 %}
                        <td class="text-dark">
                            <div class="slotsContainer">
                                {% set slotAvailable = get_available_slots(price, worker, d|date('U')) %}
                                {% for slotAvailable in slotAvailable %}
                                    {% set minute = slotAvailable|date('i') %}
                                    {% if minute is divisible by(60) %}
                                        {% if slotAvailable|date('d/m/Y') == "now"|date('d/m/Y') %}
                                            {% if slotAvailable|date('H:i') > "now"|date('H:i') %}
                                                {% set slotData =  slotAvailable.timestamp |json_encode() %}
                                                <div class="text-dark slotButton"
                                                     data-date={{ slotAvailable.timestamp }}>
                                                    {{ slotAvailable|date('H:i') }}
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="text-dark slotButton" data-date={{ slotAvailable.timestamp }} worker={{worker.id}}>
                                                {{ slotAvailable|date('H:i') }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% set d = d|date_modify("+1 day") %}
                    {% endfor %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
            <div class='connectionContainer'>
                <h3 class="card-title prestationText">Vous avez déjà utilisé Lana Beauty ?</h3>
                <form action="{{ path('login', {'price': price.id  }) }}" id="formLogin" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" id="username" name="_username"
                                aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password"
                                placeholder="Mot de passe">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path"
                            value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
                    <div class="card-foter text-connection">
                        <button type="submit" id="submit" class="btn btn-dark">S'identifier</button>
                    </div>
                    <small id="emailHelp" class="form-text text-connection" href="#">Mot de passe oublié ?</small>
                    <input type="hidden" name="token" value="{token}">
                </form>
            </div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
            <div class="text-center" id='confirmation-slot'/>
        {% endif %}
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        const date = document.querySelector
        const onClick = (time, timestamp, worker) => (event) => {
            const slotsTable = document.getElementsByClassName('slotsTable')[0];
            const chosenHour = document.querySelector('.chosenHourHidden').classList.remove('chosenHourHidden');
            slotsTable.classList.add('slotsTableHidden');
            document.querySelector('.prestationTextSlots').classList.add('slotsTableHidden');
            const chosenSlot = new Date(time).toLocaleString('fr-FR', {
                timeZone: 'UTC',
                weekday: 'long',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
            })
            const url = "{{ path('saloon_public_booking_form', {'price': price.id, 'slot_ts': 'test', 'worker': 'test2'}) }}".replace('test', timestamp).replace('test2', worker)
            document.getElementById('confirmation-slot').innerHTML = `<a class="text-dark" href="${url}">Confirmer</a>`
            document.querySelector('.chosenHour').innerHTML = chosenSlot
        }
        const onModifyClick = () => {
            const slotsTable = document.getElementsByClassName('slotsTable')[0];
            const chosenHour = document.querySelector('.chosenHourContainer').classList.add('chosenHourHidden');
            slotsTable.classList.remove('slotsTableHidden');
            document.querySelector('.prestationTextSlots').classList.remove('slotsTableHidden');
        }
        let event;
        const slots = document.querySelectorAll('.slotButton');
        slots.forEach(slot => {
            const time = Number(slot.getAttribute('data-date')) * 1000;
            const timestamp = slot.getAttribute('data-date')
            const worker = slot.getAttribute('worker')
            slot.addEventListener('click', onClick(time, timestamp, worker))
        })
        const modifyButton = document.querySelector('.changeHour');
        modifyButton.addEventListener('click', onModifyClick);
    </script>
{% endblock %}
