{% if auto %}
    {% set changeDate = "{{ path('saloon_manage_slot_new_auto', {'saloon': saloon.id}) }}" %}
    {% set form = 'saloon_private_booking_form' %}
{% else %}
    {% set changeDate = "{{ path('saloon_public', {'saloon': price.saloon.slug}) }}" %}
    {% set form = 'saloon_public_booking_form' %}
{% endif %}

{#<div class="col-12">#}
    {#<h2 class="text-center">{{ day|date('d/m/Y') }}</h2>#}
{#</div>#}
<div class="container">
    {% for slot in slots %}
        {% set minute = slot|date('i') %}

        {% if minute is divisible by(60) %}

            {% if slot|date('d/m/Y') == "now"|date('d/m/Y') %}

                {% if slot|date('H:i') > "now"|date('H:i') %}
                    <div class="col-sm-6 col-md-3 my-2">
                        <a class="text-light"
                           href="{{ path(form, {'price': price.id, 'slot_ts': slot.timestamp, 'worker': worker.id}) }}">{{ slot|date('H:i') }}</a>
                    </div>
                {% endif %}

            {% else %}
                <div class="col-sm-6 col-md-3 my-2">
                    <a class="text-light"
                       href="{{ path(form, {'price': price.id, 'slot_ts': slot.timestamp, 'worker': worker.id }) }}">{{ slot|date('H:i') }}</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
