{% set page_id = 7 %}
{% extends "layout.html.twig" %}

{% block title %}Modifier les congés | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">

	{% include 'saloon/menu.html.twig' %}

	<div class="col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2">

		<h1 class="text-center my-3">Modifier les congés</h1>

		<div class="row justify-content-center">

			<div class="col-12 col-sm-12 col-lg-6 text-center">

				{{ form_start(form) }}

          <h3>Sélectionnez les jours de congés</h3>
          <div id="form-datepicker-multiple"></div>
          {{ form_row(form.days) }}

        {{ form_end(form) }}
			</div>

		</div>

	</div>
	
</div>

{% endblock %}

{% block scripts %}
  {{ encore_entry_link_tags('multipleDays') }}
  {{ encore_entry_script_tags('multipleDays') }}
{% endblock %}