{% extends "layout.html.twig" %}

{% block title %}{{ saloon.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="vertical-spacer"></div>
    <div class="row">
        {% for price in saloon.prices %}
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="view overlay rounded z-depth-1">
                    {% if price.id == 1 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% elseif price.id == 2 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% elseif price.id == 3 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% elseif price.id == 4 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% elseif price.id == 5 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% elseif price.id == 6 %}
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
                             alt="Sample project image">
                    {% endif %}
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">{{ price.name }}</h4>
                    <span class="current">Prix: {{ price.amount }}€</span>

                    {% if price.id == 1 %}
                        <p class="text-justify">
                            Notre service le plus populaire, la manucure de conception de gel comprend la préparation,
                            la mise en forme et une consultation personnelle avec votre artiste. Choisissez parmi notre
                            lookbook saisonnier et personnalisez votre palette de couleurs.
                        </p>
                    {% elseif price.id == 2 %}
                        <p class="text-justify">Nous proposons un processus d'élimination en douceur à la main et ne
                            retirons que les gels doux, sans retrait de gel. Pour votre conception de gel, choisissez
                            parmi notre lookbook saisonnier et personnalisez votre palette de couleurs.
                        </p>

                    {% elseif price.id == 3 %}
                        <p class="text-justify">Notre manucure de luxe signature avec une nouvelle couche de couleur de
                            votre vernis gel préféré, sans retrait de gel. Pour votre conception de gel, choisissez
                            parmi notre lookbook saisonnier et personnalisez votre palette de couleurs.</p>
                    {% elseif price.id == 4 %}
                        <p class="text-justify">
                            Ce rendez-vous dure 90 minutes pour vous donner, ainsi qu'à nos artistes les plus
                            expérimentés, du temps supplémentaire pour une consultation, afin que nous puissions
                            vraiment assortir vos ongles à la palette de couleurs, à l'ambiance, à la robe et aux fleurs
                            de votre mariage.
                        </p>
                    {% elseif price.id == 5 %}
                        <p class="text-justify">
                            Ce rendez-vous dure 90 minutes pour vous donner, ainsi qu'à nos artistes les plus
                            expérimentés, du temps supplémentaire pour une consultation, afin que nous puissions
                            vraiment assortir vos ongles à la palette de couleurs, à l'ambiance, à la robe et aux fleurs
                            de votre mariage.
                        </p>
                    {% elseif price.id == 6 %}
                        <p class="text-justify">
                            Ce rendez-vous dure 90 minutes pour vous donner, ainsi qu'à nos artistes les plus
                            expérimentés, du temps supplémentaire pour une consultation, afin que nous puissions
                            vraiment assortir vos ongles à la palette de couleurs, à l'ambiance, à la robe et aux fleurs
                            de votre mariage.
                        </p>
                    {% endif %}

                    <span class="badge badge-pill badge-dark">Paiement en ligne sécurisé</span>
                    <span class="badge badge-pill badge-light">Populaire  <i class="fas fa-fire"></i></span>

                    <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" type="button"
                       class="btn btn-orange btn-rounded mx-0 pao">Réserver ce soin
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
