{% extends "layout.html.twig" %}

{% block title %}{{ saloon.name }} - {{ parent() }}{% endblock %}

{% block body %}

<div class="row my-4">
    <div class="col-lg-8 col-md-8 col-sm-12">


        {% if saloon.customText is not null %}
            <div class="jumbotron text-center p-4">
                <p class="mb-0">{{ saloon.customText }}</p>
            </div>
        {% endif %}

        <p>
            <a class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" href="#multiCollapseExample1"
               role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                Prendre rendez-vous en ligne
            </a>
        </p>

        <div class="row">
            {% for price in saloon.prices %}
                <div class="col-sm-12 col-md-6">
                    <div class="card price" id="{{ price.id }}">
                        <div class="card-body">
                            <h5 class="card-title my-1">{{ price.name }}</h5>
                            <p class="card-text my-1">{{ price.duration }}min</p>
                            <p class="card-text my-1">{{ price.amount }}€</p>
                            <a href="#" class="btn btn-primary
											{% if not saloon.isPremium %}
												disabled
											{% endif %}
										">Réserver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div id="choose_day">
    <div class="jumbotron">
        <div class="row">
            {% set today = "now" %}
            {# 14 = nombre de jours à afficher #}
            {% for i in 0..14 %}
                {% if today|date('N') == 0 %}
                    {% set day = 'Dimanche' %}
                {% elseif  today|date('N') == 1 %}
                    {% set day = 'Lundi' %}
                {% elseif  today|date('N') == 2 %}
                    {% set day = 'Mardi' %}
                {% elseif  today|date('N') == 3 %}
                    {% set day = 'Mercredi' %}
                {% elseif  today|date('N') == 4 %}
                    {% set day = 'Jeudi' %}
                {% elseif  today|date('N') == 5 %}
                    {% set day = 'Vendredi' %}
                {% elseif  today|date('N') == 6 %}
                    {% set day = 'Samedi' %}
                {% elseif  today|date('N') == 7 %}
                    {% set day = 'Dimanche' %}
                {% endif %}

                {% if today|date('m') == 1 %}
                    {% set month = 'Janvier' %}
                {% elseif  today|date('m') == 2 %}
                    {% set month = 'Février' %}
                {% elseif  today|date('m') == 3 %}
                    {% set month = 'Mars' %}
                {% elseif  today|date('m') == 4 %}
                    {% set month = 'Avril' %}
                {% elseif  today|date('m') == 5 %}
                    {% set month = 'Mai' %}
                {% elseif  today|date('m') == 6 %}
                    {% set month = 'Juin' %}
                {% elseif  today|date('m') == 7 %}
                    {% set month = 'Juillet' %}
                {% elseif  today|date('m') == 8 %}
                    {% set month = 'Août' %}
                {% elseif  today|date('m') == 9 %}
                    {% set month = 'Septembre' %}
                {% elseif  today|date('m') == 10 %}
                    {% set month = 'Octobre' %}
                {% elseif  today|date('m') == 11 %}
                    {% set month = 'Novembre' %}
                {% elseif  today|date('m') == 12 %}
                    {% set month = 'Décembre' %}
                {% endif %}
                <div class="col-sm-12 col-md-6 my-2">
                    <a class="btn btn-primary btn-block"
                       href="{{ path('saloon_public_booking', {'price': 0, 'timestamp': today|date('U') }) }}">
                        {{ day }} {{ today|date('d') }} {{ month }}
                    </a>
                </div>
                {% set today = today|date_modify("+1 day") %}
            {% endfor %}
        </div>
    </div>
</div>


<div class="sidebar col-lg-4 col-md-4 col-sm-12">
    <div class="jumbotron py-5">

        <h2>{{ saloon.location }}</h2>

        {% if saloon.phoneNumber %}
            <h2>{{ saloon.phoneNumber }}</h2>
        {% endif %}

        {% if saloon.facebookLink %}
            <h2><a target="_blank" href="{{ saloon.facebookLink }}">Facebook</a></h2>
        {% endif %}
    </div>

    <div id="map" class="my-3" style="height: 250px;"></div>

    <div class="jumbotron py-5">
        <h3 class="text-center">Horaires</h3>

        {% include "partials/schedule.html.twig" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% if saloon.isPremium %}
        <script src="{{ asset('build/booking.js') }}"></script>
    {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCocsTEd2fbjERR2tEl9ilk0M_QnIajRUM&callback=initMap"
            async defer></script>

    {% set latitude = 0 %}
    {% set longitude = 0 %}
    {% if saloon.latitude %}
        {% set latitude = saloon.latitude %}
    {% endif %}
    {% if saloon.longitude %}
        {% set longitude = saloon.longitude %}
    {% endif %}
    <script>
        var map;
        var latitude = parseFloat('{{ latitude }}');
        var longitude = parseFloat('{{ longitude }}');

        function initMap() {
            var pos = {lat: latitude, lng: longitude};
            map = new google.maps.Map(document.getElementById('map'), {
                center: pos,
                zoom: 13
            });

            var marker = new google.maps.Marker({
                position: pos,
                map: map
            });
        }
    </script>
{% endblock %}