{% extends "layout.html.twig" %}

{% block title %}{{ saloon.name }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="vertical-spacer"></div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="prestationTitle">Beauté des ongles</h4>
            <br>
            <div class="table table-light prestationContainer">
                {% for price in saloon.prices %}
                    <div class="prestationContainer prestationRow">
                        <div class="prestationName">{{ price.name }}</div>
                        <div class="css-1maandq text-right prestationDuration"> {{ price.duration }}min</div>
                        <div class="align-top prestationAmount">{{ price.amount }}€</div>
                        <div class="prestationButtonContainer">
                            <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" type="button"
                                class="btn btn-outline-dark float-right prestationButton">Réserver ce soin
                            </a>
                        </div>
                    </div>
                    {# <div class="prestationContainer prestationRow">
                        <div class="prestationName">{{ price.name }}</div>
                        <div class="css-1maandq text-right prestationDuration"> {{ price.duration }}min</div>
                        <div class="align-top prestationAmount">{{ price.amount }}€</div>
                        <div class="prestationButtonContainer">
                            <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" type="button"
                                class="btn btn-outline-dark float-right prestationButton">Réserver ce soin
                            </a>
                        </div>
                    </div>
                    <div class="prestationContainer prestationRow">
                        <div class="prestationName">{{ price.name }}</div>
                        <div class="css-1maandq text-right prestationDuration"> {{ price.duration }}min</div>
                        <div class="align-top prestationAmount">{{ price.amount }}€</div>
                        <div class="prestationButtonContainer">
                            <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" type="button"
                                class="btn btn-outline-dark float-right prestationButton">Réserver ce soin
                            </a>
                        </div>
                    </div>
                    <div class="prestationContainer prestationRow">
                        <div class="prestationName">{{ price.name }}</div>
                        <div class="css-1maandq text-right prestationDuration"> {{ price.duration }}min</div>
                        <div class="align-top prestationAmount">{{ price.amount }}€</div>
                        <div class="prestationButtonContainer">
                            <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" type="button"
                                class="btn btn-outline-dark float-right prestationButton">Réserver ce soin
                            </a>
                        </div>
                    </div> #}
                {% endfor %}
            </div>
        </div>
        {# {% include 'booking/index.html.twig' %} #}

    <div class="infosContainer">
        {# <div class="row"> #}
            {# <div class="col-sm-6"> #}
            <div class="locationInfo">
                <h4>En savoir plus sur Lana Beauty</h4>

                <div id="map" style="width: 100%; height: 330px;"></div>
                <br>
                <i class=" fas fa-map-marker-alt css-1cjv4kp"> 266 route de Beaudinard, 13400 Aubagne</i>
            </div>
            {# </div> #}
            {# <div class="col-sm-6"> #}
            <div class="openingInfo">
                <h4>Horaires d'ouverture</h4>
                {% include "partials/schedule.html.twig" %}
            </div>
            {# </div> #}
        {# </div> #}
    </div>
    <div class="vertical-spacer"></div>

    {% endblock %}

    {% block scripts %}
        {% if saloon.isPremium %}
        <script src="{{ asset('build/booking.js') }}"></script>
        {% endif %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCocsTEd2fbjERR2tEl9ilk0M_QnIajRUM&callback=initMap"
                async defer></script>

        {% set latitude = 0 %}
        {% set longitude = 0 %}
        {% if saloon.latitude %}
            {% set latitude = saloon.latitude %}
        {% endif %}
        {% if saloon.longitude %}
            {% set longitude = saloon.longitude %}
        {% endif %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCocsTEd2fbjERR2tEl9ilk0M_QnIajRUM&callback=initMap"
                async defer></script>

        {% set latitude = 0 %}
        {% set longitude = 0 %}
        {% if saloon.latitude %}
            {% set latitude = saloon.latitude %}
        {% endif %}
        {% if saloon.longitude %}
            {% set longitude = saloon.longitude %}
        {% endif %}
        <script>
            var map;
            var latitude = parseFloat('{{ latitude }}');
            var longitude = parseFloat('{{ longitude }}');

            function initMap() {
                var pos = {lat: latitude, lng: longitude};
                map = new google.maps.Map(document.getElementById('map'), {
                    center: pos,
                    zoom: 13,
                    styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#444444"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#46bcec"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                });

                var marker = new google.maps.Marker({
                    position: pos,
                    map: map
                });
            }
        </script>
    {% endblock %}
