{% extends "layout.html.twig" %}

{% block title %}{{ saloon.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for price in saloon.prices %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ asset('build/images/unsplash.jpg' ~ price.image) }}" height="300"/>
                            <div class="card-body">
                                <h4>{{ price.name }}</h4>
                                <p class="card-text">{{ price.amount }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('saloon_public_booking', {'price': price.id  }) }}" class="btn btn-sm btn-outline-secondary">Réserver ce soin</a>
                                    </div>
                                    {#<small class="text-muted">9 mins</small>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
	{#{% set today = "now"|date_modify("+1 day") %}#}

{#<div class="row my-4">#}
    {#<div class="col-lg-8 col-md-8 col-sm-12">#}
        {#<div class="jumbotron">#}
            {#<h1 class="display-4 saloon-name">{{ saloon.name }}</h1>#}
        {#</div>#}

        {#{% if saloon.customText is not null %}#}
            {#<div class="jumbotron text-center p-4">#}
                {#<p class="mb-0">{{ saloon.customText }}</p>#}
            {#</div>#}
        {#{% endif %}#}

        {#<div id="choose_prices">#}
            {#<div class="jumbotron py-5 text-center">#}
                {#{% if saloon.bookingActive %}#}
                    {#<h2>Choisissez votre prestation</h2>#}
                {#{% else %}#}
                    {#<h2>Prestations</h2>#}
                {#{% endif %}#}

                {#{% if not saloon.isPremium %}#}
                    {#<div class="alert alert-warning" role="alert">#}
                        {#Ce salon ne prend pas de réservations en ligne#}
                    {#</div>#}
                {#{% endif %}#}

                {#<div class="row">#}
                    {#{% for price in saloon.prices %}#}
                        {#<div class="col-sm-12 col-md-6">#}
                            {#<div class="card price" id="{{ price.id }}">#}
                                {#<img src="{{ asset('build/images/unsplash.jpg' ~ price.image) }}" height="300"/>#}
                                {#<div class="card-body">#}
                                    {#<h5 class="card-title my-1">{{ price.name }}</h5>#}
                                    {#<p class="card-text my-1">{{ price.duration }}min</p>#}
                                    {#<p class="card-text my-1">{{ price.amount }}€</p>#}
                                    {#<a class="btn btn-primary btn-block"#}
                                       {#href="{{ path('saloon_public_booking', {'price': price.id  }) }}">#}
                                        {#Réserver un soin#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
