<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Lana Beauty - Réservation de manucure en ligne{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% block description %}Lana Beauty vous aide à réserver votre rendez-vous en ligne.{% endblock %}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
              integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    {% endblock %}

    <!-- Désindexation des pages de réservation -->
    {% if
        app.request.get('_route') == 'saloon_public_booking_form' or
        app.request.get('_route') == 'saloon_public_booking_sms' or
        app.request.get('_route') == 'saloon_public_booking_success' or
        app.request.get('_route') == 'saloon_public_booking' %}
        <meta name="robots" content="noindex">
    {% endif %}

    {{ encore_entry_link_tags('app') }}
</head>
<body>

<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand mb-0 h1" href="{{ path('home') }}">
                        Belleza
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-exp
                            nded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{{ path('saloon_public', {'saloon': 'lana-beauty'}) }}">Beauté
                                    des ongles</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">Mon salon</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path('saloon_choice') }}">Gérer mon salon</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="row my-2">
        <div class="container">
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}

{% if app.request.get('_route') == 'home' or app.request.get('_route') == 'search' %}
    {% include "partials/search.html.twig" %}
{% endif %}
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
{#<script>#}
{#$(document).ready(function() {#}
{#let urlAddBasket = "{{ path('cart_add', {'price': 0  }) }}";#}
{#$.ajax({url: urlAddBasket+'?response=JSON', success: (result) => {#}
{#$("#basketIconNb").html('Panier '+(result));#}
{#}});#}
{#});#}
{#</script>#}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block scripts %}{% endblock %}
</html>
