<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Lana Beauty - Réservation de manucure en ligne{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Lana Beauty vous aide à réserver votre rendez-vous en ligne.{% endblock %}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    {% endblock %}

    <!-- Désindexation des pages de réservation -->
    {% if
        app.request.get('_route') == 'saloon_public_booking_form' or
        app.request.get('_route') == 'saloon_public_booking_sms' or
        app.request.get('_route') == 'saloon_public_booking_success' or
        app.request.get('_route') == 'saloon_public_booking' %}
        <meta name="robots" content="noindex">
    {% endif %}

    {{ encore_entry_link_tags('app') }}
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <p>
            <div class="logo">
                Lana-Beauty
            </div>
                {#<a class="nav-home" href>LANA BEAUTY</a> &nbsp;#}
                <a href="{{ path('saloon_public', {'saloon': 'lana-beauty'}) }}" class="nav-home">TOUS NOS SOINS</a> &nbsp;
                <a class="nav-home" href>MANUCURE ET PÉDICURE</a> &nbsp;
                <a class="nav-home" href>MAQUILLAGE</a> &nbsp;
                <a class="nav-home" href>CONTACT</a> &nbsp;
            </p>
            <div class="clearfix">

            {#<button type="button" class="btn btn-outline-dark">#}
                {#<a class="nav-home" href>Devenir Partenaire</a>#}
            {#</button>#}
            {#<button type="button" class="btn btn-dark">#}
                {#<a class="nav-home" href>MON COMPTE</a>#}
            {#</button>#}

                {#<i class="fas fa-shopping-cart" href="{{ path('cart') }}"></i>#}
                <i class="fa fa-user" aria-hidden="true"></i>

                <a class="text-black-50" href="{{ path('cart') }}">Panier</a>
            </div>
        </div>
    </nav>
</div>
</body>
{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#<a class="navbar-brand" href="{{ path('home') }}">#}
{#<img src="{{ asset('build/images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">#}
{#LANA BEAUTY#}
{#</a>#}
{#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#<span class="navbar-toggler-icon"></span>#}
{#</button>#}

{#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#<ul class="navbar-nav ml-auto">#}
{#{% if is_granted('ROLE_ADMIN') %}#}
{#<li class="nav-item">#}
{#<a class="nav-link{% if page_id is defined and page_id != 10 %} active{% endif %}"#}
{#href="{{ path('saloon_choice') }}">Mon salon</a>#}
{#</li>#}
{#{% if is_granted('ROLE_WORKER') %}#}
{#<li class="nav-item">#}
{#<a class="nav-link{% if page_id is defined and page_id == 10 %} active{% endif %}"#}
{#href="{{ path('saloon_diary') }}">Mon Agenda</a>#}
{#</li>#}
{#{% endif %}#}
{#{% endif %}#}
{#<div class="btn-group" role="group">#}
{#<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"#}
{#data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#Mon compte#}
{#</button>#}
{#<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#<a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>#}
{#<a class="dropdown-item" href="{{ path('register') }}">S'inscrire</a>#}
{#{% if is_granted('ROLE_USER') %}#}
{#<a class="dropdown-item" href="{{ path('customer_manage_slot') }}">Mes Rendez-vous</a>#}
{#<a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>#}
{#{% endif %}#}
{#</div>#}
{#</div>#}
{#</ul>#}
{#</div>#}
{#</nav>#}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="row my-2">
        <div class="container">
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}

{% if app.request.get('_route') == 'home' or app.request.get('_route') == 'search' %}
    {% include "partials/search.html.twig" %}
{% endif %}

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
{#<script>#}
    {#$(document).ready(function() {#}
        {#let urlAddBasket = "{{ path('cart_add', {'price': 0  }) }}";#}
        {#$.ajax({url: urlAddBasket+'?response=JSON', success: (result) => {#}
            {#$("#basketIconNb").html('Panier '+(result));#}
        {#}});#}
    {#});#}
{#</script>#}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
