<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}Boocut - Rendez-vous de coiffeur en ligne{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Boocut vous aide à trouver votre salon de coiffure et réserver votre rendez-vous en ligne. Professionnel ? Boocut peut prendre en charge votre organisation.{% endblock %}">
    
    <!-- Désindexation des pages de réservation -->
    {% if 
      app.request.get('_route') == 'saloon_public_booking_form' or 
      app.request.get('_route') == 'saloon_public_booking_sms' or 
      app.request.get('_route') == 'saloon_public_booking_success' or 
      app.request.get('_route') == 'saloon_public_booking' %}
        <meta name="robots" content="noindex">
    {% endif %}

    {{ encore_entry_link_tags('app') }}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('build/images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        Boocut
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <a class="nav-link{% if page_id is defined and page_id != 10 %} active{% endif %}" href="{{ path('saloon_choice') }}">Mon salon</a>
            </li>
            {% if is_granted('ROLE_WORKER') %}
              <li class="nav-item">
                <a class="nav-link{% if page_id is defined and page_id == 10 %} active{% endif %}" href="{{ path('saloon_diary') }}">Mon Agenda</a>
              </li>
            {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('register') }}">Vous êtes coiffeur ?</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="row my-2">
        <div class="container">
          <div class="alert alert-success">
              {{ flashMessage }}
          </div>
        </div>
      </div>
    {% endfor %}

    {% if app.request.get('_route') == 'home' or app.request.get('_route') == 'search' %}
      {% include "partials/search.html.twig" %}
    {% endif %}

    <div class="container" style="margin-bottom: 200px;">
      {% block body %}{% endblock %}
    </div>

    {#<footer class="text-muted mt-5">#}
      {#<div class="container">#}
        {#<div class="float-right">#}
          {#<a target="_blank" href="https://www.facebook.com/boocut">#}
            {#<img src="{{ asset('build/images/facebook1.png') }}" alt="Boocut logo facebook" data-aos="zoom-in">#}
          {#</a>#}
          {#<a target="_blank" href="https://twitter.com/Boocut2">#}
            {#<img src="{{ asset('build/images/twitter1.png') }}" alt="Boocut logo twitter" data-aos="zoom-in">#}
          {#</a>#}
        {#</div>#}
        {#{% if app.user %}#}
          {#<p>#}
            {#<a href="{{ path('saloon_add') }}">Ajouter un salon</a><br>#}
            {#<a href="{{ path('logout') }}">Déconnexion</a>#}
          {#</p>#}
        {#{% endif %}#}
        {#<p>Boocut vous aide à trouver votre rendez-vous de coiffeur votre temps, vos soucis, votre téléphone.</p>#}
        {#<p>Copyright © 2018 Boocut Inc. All Rights Reserved.</p>#}
      {#</div>#}
    {#</footer>#}

    {{ encore_entry_script_tags('app') }}
    {% block scripts %}{% endblock %}
  </body>
</html>
